---
import Tags from "./Tags.astro";

interface Props {
  title: string;
  summary: string;
  tags: string[];
  date: string;
  url: string;
}

const { date, summary, tags, title, url } = Astro.props;
---

<article class="container">
  <div>
    <a href={url}>
      <h1 class="text">{title}</h1>
    </a>
    <p>{date}</p>
    <Tags tags={tags} />
  </div>
  <p>{summary}</p>
  <a href={url}>Read more</a>
</article>

<style>
  .text {
    font-size: 2.25rem;
    font-weight: 700;
  }
  .container > * {
    color: white;
  }
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    text-decoration: underline hsl(200, 100%, 30%);
  }
</style>
